.side-bar{
  background-color: #2F3136;
  color: #FFFFFF;
  max-height: 100vh;
  min-width: 25vh;
}

.home-body{
  background-color: #36393F;
  color: #FFFFFF;
  min-height: 100vh;
  min-width: 45vh;
}

.new-chat-room-button{
  border-radius: 90px;
  background-color: #36393F;
  border-color: #36393F;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

/* 
White: FFFFFF
Cornflower Blue: 7289DA
Cadet Grey: 2F3136
Jet:  36393F
Charleston Green: 23272A */
